<form [formGroup]="userForm">
  <p>
    <label for="name">Full Name </label>
    <input type="text" id="name" name="name" placeholder="Name Surname" formControlName="name">
    <!-- <input type="text" id="name" name="name" [(ngModel)]="nameRef" (ngModelChange)="onNameChange($event)"
        [ngModelOptions]="{standalone:true}"> -->
  </p>
  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" placeholder="name@example.com" formControlName="email">
  </p>
  <p>
    <label for="photo">Photo </label>
    <input type="file" id="photo" name="photo" formControlName="photo">
  </p>
  <p>
    <label for="startDate">Orion Start Date </label>
    <input type="date" id="startDate" name="startDate" formControlName="startDate">
  </p>
  <p>
    <label for="position"> Position </label>
    <select formControlName="positionName" (change)="changePosition($event)">
      <option [ngValue]="null">Select Position</option>
      <option *ngFor="let position of Position" [value]="position">{{position}}</option>
    </select>
  </p>
  <p>
    <label for="department">Department </label>
    <input type="text" id="department" name="department" placeholder="NRD2208" formControlName="department">
  </p>
  <p>
    <label for="university">University </label>
    <input type="text" id="university" name="university" placeholder="Middle East Technical University"
      formControlName="university">
  </p>
  <p>
    <label for="graduation">graduation </label>
    <input type="date" id="graduation" name="graduation" formControlName="graduation">
  </p>
  <p>
    <label for="previousJob">Previous Job </label>
    <input type="text" id="previousJob" name="previousJob" placeholder="Corporate Consulting"
      formControlName="previousJob">
  </p>
  <p>
    <label for="previousPosition">Previous Position </label>
    <input type="text" id="previousPosition" name="previousPosition" placeholder="Front-end Developer"
      formControlName="previousPosition">
  </p>
  <p>
    <label for="totalExperience">Total Experience </label>
    <input type="text" id="totalExperience" name="totalExperience" placeholder="5" formControlName="totalExperience">
  </p>
  <p>
    <label for="technicalSkills">Technical Skills </label>
    <input type="text" id="technicalSkills" name="technicalSkills" placeholder="PHP, JavaScript.."
      formControlName="technicalSkills">
  </p>
  <p>
    <label for="about">About </label>
    <input type="text" id="about" name="about" formControlName="about">
  </p>
