<div class="container p-5 my-container-class position-absolute top-50 start-50 translate-middle" style="width: 40rem;">
  <form [formGroup]="loginForm">
    <div class="row">
        <div class="col-8">
          <h2 class="fw-bold">LOGIN</h2>
          <h5>Accessing the user list</h5>
        </div>
        <div class="col-4">
          <a type="button" class="btn btn-secondary position-absolute top-2 end-0 mx-5" routerLink="/">BACK</a>
        </div>
      </div>
    <div class="row">
      <div class="col-12">
        <p>
          <label for="username" class="form-label">User Name </label>
          <input type="text" class="form-control" id="username" name="name"  formControlName="username">
        </p>
        <span
          *ngIf="(loginForm.controls.username.touched || loginForm.controls.username.dirty) && !loginForm.controls.username.valid && loginForm.get('username')?.hasError('required') && username.errors?.required"
          class="error">
          Name field is required!
        </span>
      </div>
      <div class="col-12">
        <p>
          <label for="password" class="form-label">Password </label>
          <input type="password" id="password" class="form-control" name="password"
            formControlName="password">
        </p>
        <span
          *ngIf="(loginForm.controls.password.touched || loginForm.controls.password.dirty) && !loginForm.controls.password.valid && loginForm.get('password')?.hasError('required') && password.errors?.required"
          class="error">
          Email field is required!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <button type="button" class="btn btn-secondary position-absolute start-50 translate-middle-x " (click)="onSubmit()">LOGIN</button>
      </div>
    </div>
  </form>
</div>
  
